<!DOCTYPE html>
<html>

<head>
  <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">

  <header>
    <% include partials/template/header.ejs %>
  </header>
  <% include partials/content/speakerslist.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <% include partials/content/mainContent.ejs %>        
      </div>
      <!-- primary -->
      <aside class="col-sm-4">
        <% include partials/content/whoShouldCome.ejs %>                
        <% include partials/content/artworkList.ejs %>                
      </aside>
      <!-- secondary -->
    </div>
  </div>
  <!-- container -->
  <% include partials/template/jsDefaults.ejs %>                  
</body>
</html>